<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1>template下的视图</h1>
<img src="/image/a.png" style="height: 600px;width: 600px">
<div id="showQuestion"></div>
</body>
<script>
    $.ajax({
        url:"/question/1",
        type:"GET",
        dataType:"JSON",
        success:function(res){
            //console.log(res);
             $("#showQuestion").html(res.data.question)
        }
    })
</script>
</html>